body{
    background-attachment: fixed;
    margin: 0;
    padding:0; 
    width: 100%;
    height:750px;
    font-family: 'Roboto', sans-serif;
    }
 .top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: repeat-x;
    float:left;
} 
#Head{
    text-align: center;
} 
.Highlight{
    color:rgba(219, 154, 23, 0.952);
   
    }
#Head h1 {
    color: rgba(179, 23, 88, 0.089);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

    }
#Head h1 a {
        color: rgba(230, 28, 13, 0.527);
        font-size: 40px;  
        text-decoration: none;
        }  
#Head h1 a:hover{
    box-shadow:2px 2px 4px rgb(134, 11, 11);
    background-color:rgba(243, 243, 240, 0.021);
}             
.First-navbar{
    float:left; 
    width: 100%;  
    box-shadow:10px 10px 40px 10px rgb(134, 11, 11);
    border-radius: 2%;
}
#leftnav{
    width:60%;
    height:100%;
    float: left;
    margin: 5px 15px;
    padding:5px; 
    
}
#leftnav ul li{
    float: left;
    font-size:35px;
    padding-left: 25px;
    
}
#leftnav li a{
    background-attachment: fixed;
    padding:5px 0px;
    display: inline-block;
    overflow: hidden;
    color:rgba(238, 105, 105, 0.747);
    border-radius: 10%;

}
#leftnav li a:hover{
    box-shadow:5px 5px 5px rgb(134, 11, 11);
    border-radius: 2%;
}

#rightnav{
    width:27%;
    float: right;
    margin-right:5%;
    padding:0px;

}

#rightnav ul li{
    text-decoration: none;  
    float: left;
    font-size:35px;  
    color:rgba(238, 105, 105, 0.747);
    margin:none;
    padding:5px;

}
#rightnav ul li input{
    text-align: center;
    margin:none;
    padding:5px;
    box-shadow:1px 1px 2px rgb(134, 11, 11);
    border-radius: 1%;
    
}
a{
    text-decoration: none;
    padding: 5px;   
    color: rgba(80, 53, 23, 0.938);   
    font-weight: bold;  
    
}
li{
    list-style-type: none;   
    padding-left: 5px;  
}
#Middle{
    float: left;
    margin-top: 20px;
    color:rebeccapurple;
    width:100%;
    height: 550px;

}
.Middle{
    width: 40%;
    height:80%;
    float: left;
    padding:2%;
    text-align: center;
     
   
}
.Middle h1{
    box-shadow:5px 5px 5px 5px rgb(134, 11, 11);
    border-radius: 1%;
}
.Middle img{
    float: right;
    width:75%;
    border-radius: 50%;
    
}
.Middle p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgba(85, 38, 7, 0.918);
    height: auto;
    float:left;
    text-align: left;
    padding-left: 10px;
   
}
.link-button{
    background-color:orange;
    padding: 10px 20px;
    border-radius: 7px;
    color:white;
    margin:5px;
    float: left;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    box-shadow:5px 5px 5px 5px rgb(134, 11, 11);
    border-radius: 5%;
    margin:5px 45px;   
    
}
.Dream-area{
    float: left;
    margin-top: 20px;
    color:rebeccapurple;
    width:100%;
    height: 550px;
    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
    box-shadow:1px px 2px rgb(134, 11, 11);
    border-radius: 5%;
}

.orange-Highlight{
    color:rgba(255, 166, 0, 0.651);
}
.Experience-area{
    float: left;
    width:100%;
    height: 550px;
    margin-top: 5px;
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    
}
.Experience-area h1{ 
    margin:10px 20px;
    color:rgba(238, 105, 105, 0.548);
}
.Middle-third{
    width: 40%;
    height: 300px;
    float: left;
    padding:2%;
    margin: 15px 30px;
    text-align: center;
    box-shadow:10px 10px 40px 10px rgb(134, 11, 11);
    border-radius: 2%;
    

}
.Single-experience{
    padding-left: 5px;
}
#left-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#right-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    clear: all;

    
}
#end{
    width: 100%;
    height:auto;
    float : left;
    text-align:center;
    
}   

#end pre{
    width: 100%;
    height: 100%;
    font-size: 20px;
    box-shadow:10px 10px 40px rgb(134, 11, 11);
    border-radius: 2%;
}
